body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/currency-bg.jpg);
    background-size: cover;
    background-position: center;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}